.elements-header {
  display: flex;
  align-items: center;
}

.elements-header .elementHeader {
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.icoCart .cartCount {
  background-color: #5B17AA;
  width: 25px; height: 25px;
  position: absolute;
  top: -7px;
  border-radius: 50%;
  right: -7px;
  font-size: 15px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 3% 33px;
  width: 100%;
}

.header .logo img {
  max-width: 340px;
  height: auto;
}

@media(max-width: 660px) {
  .header {
    flex-wrap: wrap;
  }
}